@font-face {
  font-family: "Radio Canada Big";
  src: url("@/assets/RadioCanadaBig-VariableFont_wght.ttf") format("truetype");
}

:root {
  font-family: "Radio Canada Big", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #3E3E3E;
}

[data-theme="dark"] {
  --color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
}

[data-theme="light"] {
  --color: #213547;
  --bg-color: #fdfcff;
}
